# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

weather_df = pd.read_csv("GlobalWeatherRepository.csv")

weather_df.info()
weather_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       1949 non-null   object
 1   location_name                 1949 non-null   object
 2   latitude                      1949 non-null   float64
 3   longitude                     1949 non-null   float64
 4   timezone                      1949 non-null   object
 5   last_updated_epoch            1949 non-null   int64
 6   last_updated                  1949 non-null   object
 7   temperature_celsius           1949 non-null   float64
 8   temperature_fahrenheit        1949 non-null   float64
 9   condition_text                1949 non-null   object
 10  wind_mph                      1949 non-null   float64
 11  wind_kph                      1949 non-null   float64
 12  wind_degree                   1949 non-null   int64
 13  wind_direction                1949 non-null   object
 14  pressure_mb                   1949 non-null   float64
 15  pressure_in                   1949 non-null   float64
 16  precip_mm                     1949 non-null   float64
 17  precip_in                     1949 non-null   float64
 18  humidity                      1949 non-null   int64
 19  cloud                         1949 non-null   int64
 20  feels_like_celsius            1949 non-null   float64
 21  feels_like_fahrenheit         1949 non-null   float64
 22  visibility_km                 1949 non-null   float64
 23  visibility_miles              1949 non-null   float64
 24  uv_index                      1949 non-null   float64
 25  gust_mph                      1949 non-null   float64
 26  gust_kph                      1949 non-null   float64
 27  air_quality_Carbon_Monoxide   1949 non-null   float64
 28  air_quality_Ozone             1949 non-null   float64
 29  air_quality_Nitrogen_dioxide  1949 non-null   float64
 30  air_quality_Sulphur_dioxide   1949 non-null   float64
 31  air_quality_PM2.5             1949 non-null   float64
 32  air_quality_PM10              1949 non-null   float64
 33  air_quality_us-epa-index      1949 non-null   int64
 34  air_quality_gb-defra-index    1949 non-null   int64
 35  sunrise                       1949 non-null   object
 36  sunset                        1949 non-null   object
 37  moonrise                      1949 non-null   object
 38  moonset                       1949 non-null   object
 39  moon_phase                    1949 non-null   object
 40  moon_illumination             1949 non-null   int64
dtypes: float64(23), int64(7), object(11)
memory usage: 624.4+ KB

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1693301400,2023-08-29 14:00,28.8,83.8,Sunny,...,7.9,11.1,1,1,05:24 AM,06:24 PM,05:39 PM,02:48 AM,Waxing Gibbous,93
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1693301400,2023-08-29 11:30,27.0,80.6,Partly cloudy,...,28.2,29.6,2,3,06:04 AM,07:19 PM,06:50 PM,03:25 AM,Waxing Gibbous,93
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1693301400,2023-08-29 10:30,28.0,82.4,Partly cloudy,...,6.4,7.9,1,1,06:16 AM,07:21 PM,06:46 PM,03:50 AM,Waxing Gibbous,93
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1693301400,2023-08-29 11:30,10.2,50.4,Sunny,...,0.5,0.8,1,1,07:16 AM,08:34 PM,08:08 PM,04:38 AM,Waxing Gibbous,93
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1693301400,2023-08-29 10:30,25.0,77.0,Partly cloudy,...,139.6,203.3,4,10,06:11 AM,06:06 PM,04:43 PM,04:41 AM,Waxing Gibbous,93

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [48]:
# To check if there is any missing data used the following
weather_df.isna().sum()

# There is no any missing data I can found

country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64

In [8]:
weather_df.nunique()

country                         184
location_name                   195
latitude                        191
longitude                       192
timezone                        182
last_updated_epoch               17
last_updated                    315
temperature_celsius             232
temperature_fahrenheit          232
condition_text                   21
wind_mph                         86
wind_kph                         86
wind_degree                     293
wind_direction                   16
pressure_mb                      40
pressure_in                      93
precip_mm                        61
precip_in                        37
humidity                         90
cloud                            93
feels_like_celsius              368
feels_like_fahrenheit           517
visibility_km                    28
visibility_miles                 12
uv_index                         10
gust_mph                        151
gust_kph                        151
air_quality_Carbon_Monoxide     261
air_quality_Ozone               347
air_quality_Nitrogen_dioxide    286
air_quality_Sulphur_dioxide     242
air_quality_PM2.5               480
air_quality_PM10                639
air_quality_us-epa-index          6
air_quality_gb-defra-index       10
sunrise                         146
sunset                          198
moonrise                        443
moonset                         642
moon_phase                        4
moon_illumination                 9
dtype: int64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [49]:
# I have not seen the Irregular data or outliers in this data set.
weather_df.describe()

#weather_df.dtypes

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
count,1949.000000,1949.000000,1.949000e+03,1949.000000,1949.000000,1949.000000,1949.000000,1949.000000,1949.000000,1949.000000,...,1949.000000,1949.000000,1949.000000,1949.000000,1949.000000,1949.000000,1949.000000,1949.000000,1949.000000,1949.000000
mean,19.311555,21.745346,1.693659e+09,22.438379,72.389123,6.617701,10.647922,166.163161,1013.477168,29.926783,...,17.372242,477.608209,40.981632,9.903027,6.033043,19.496357,31.399538,1.434069,1.982042,87.894305
std,24.578988,65.606917,2.407481e+05,6.544515,11.780242,4.554719,7.334053,102.186723,5.937138,0.175157,...,11.355042,886.301940,33.530223,18.152903,13.267138,54.124180,71.222313,0.889933,2.110448,13.099725
min,-41.300000,-175.200000,1.693301e+09,2.900000,37.200000,2.200000,3.600000,1.000000,992.000000,29.300000,...,0.700000,123.500000,0.000000,0.000000,0.000000,0.500000,0.500000,1.000000,1.000000,60.000000
25%,3.750000,-6.840000,1.693439e+09,17.200000,63.000000,3.400000,5.400000,80.000000,1010.000000,29.830000,...,9.000000,220.300000,18.100000,1.000000,0.400000,3.000000,5.500000,1.000000,1.000000,79.000000
50%,17.250000,23.240000,1.693697e+09,23.300000,73.900000,5.600000,9.000000,167.000000,1013.000000,29.910000,...,15.100000,270.400000,35.400000,3.600000,1.300000,7.200000,11.900000,1.000000,1.000000,93.000000
75%,41.330000,50.580000,1.693870e+09,27.700000,81.900000,9.400000,15.100000,245.000000,1017.000000,30.030000,...,22.700000,427.300000,55.800000,10.700000,5.300000,16.500000,26.600000,2.000000,2.000000,98.000000
max,63.830000,179.220000,1.694042e+09,45.000000,113.000000,43.800000,70.600000,360.000000,1036.000000,30.590000,...,110.500000,16662.600000,320.400000,241.300000,169.800000,895.100000,1079.100000,6.000000,10.000000,100.000000

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [51]:
# For my analysis for this dataset, I feel following are redandant so removing them
# last_updated_epoch             
# last_updated                    
# condition_text                 
# wind_mph                       
# wind_kph                       
# uv_index                        
# gust_mph                        
# gust_kph               
# air_quality_Carbon_Monoxide     
# air_quality_Ozone               
# air_quality_Nitrogen_dioxide    
# air_quality_Sulphur_dioxide     
# air_quality_PM2.5               
# air_quality_PM10                
# air_quality_us-epa-index        
# air_quality_gb-defra-index      

#weather_df.boxplot(column=['temperature_fahrenheit'])
weather_cleaned_df = weather_df.drop(columns=['last_updated_epoch','last_updated','condition_text','wind_mph','wind_kph',
                                              'uv_index','gust_mph','gust_kph','air_quality_Carbon_Monoxide',
                                              'air_quality_Ozone','air_quality_Ozone','air_quality_Nitrogen_dioxide',
                                               'air_quality_Sulphur_dioxide','air_quality_PM2.5','air_quality_PM10',
                                                'air_quality_us-epa-index','air_quality_gb-defra-index'])

In [54]:
weather_cleaned_df.info()
weather_cleaned_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 1949 non-null   object
 1   location_name           1949 non-null   object
 2   latitude                1949 non-null   float64
 3   longitude               1949 non-null   float64
 4   timezone                1949 non-null   object
 5   temperature_celsius     1949 non-null   float64
 6   temperature_fahrenheit  1949 non-null   float64
 7   wind_degree             1949 non-null   int64
 8   wind_direction          1949 non-null   object
 9   pressure_mb             1949 non-null   float64
 10  pressure_in             1949 non-null   float64
 11  precip_mm               1949 non-null   float64
 12  precip_in               1949 non-null   float64
 13  humidity                1949 non-null   int64
 14  cloud                   1949 non-null   int64
 15  feels_like_celsius      1949 non-null   float64
 16  feels_like_fahrenheit   1949 non-null   float64
 17  visibility_km           1949 non-null   float64
 18  visibility_miles        1949 non-null   float64
 19  sunrise                 1949 non-null   object
 20  sunset                  1949 non-null   object
 21  moonrise                1949 non-null   object
 22  moonset                 1949 non-null   object
 23  moon_phase              1949 non-null   object
 24  moon_illumination       1949 non-null   int64
dtypes: float64(12), int64(4), object(9)
memory usage: 380.8+ KB

(1949, 25)

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [ ]:
#Exporting the DataFrame as a CSV file
#weather_cleaner_df.to_csv(“cleaned_weather_repository.csv”)

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
   There is no dirty data in my dataset.
2. Did the process of cleaning your data give you new insights into your dataset?
   For my analysis I feel few columns were unnecessary so drop them for analysis purpose.  
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
   I will like to do vizualization for temperature, humidity variations, and the location depends on longitute and latitude.  That may help me to do analysis of climate change and also if someone wants to travel at particular location will help to analyze the weatehr patterns. I will use the columns as if necessary for visualization.